@font-face {
  font-family: "iconfont"; /* Project id 3861749 */
  src: url('iconfont.woff2?t=1676613501415') format('woff2'),
       url('iconfont.woff?t=1676613501415') format('woff'),
       url('iconfont.ttf?t=1676613501415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stMatic-copy:before {
  content: "\e74e";
}

.icon-stMatic:before {
  content: "\e603";
}

.icon-USDT:before {
  content: "\e604";
}

.icon-USDT-copy:before {
  content: "\e74f";
}

.icon-USDC:before {
  content: "\e605";
}

.icon-USDC-copy:before {
  content: "\e750";
}

.icon-shezhi-copy:before {
  content: "\e751";
}

.icon-shezhi-copy1:before {
  content: "\e752";
}

.icon-shezhi:before {
  content: "\e608";
}

.icon-shezhi-copy2:before {
  content: "\e74d";
}

.icon-zuanshi-copy:before {
  content: "\e747";
}

.icon-weidaizijinchilixichaxun-copy:before {
  content: "\e748";
}

.icon-zuanshi:before {
  content: "\e65d";
}

.icon-weidaizijinchilixichaxun:before {
  content: "\e658";
}

.icon-A-copy-copy:before {
  content: "\e753";
}

.icon-B-copy-copy:before {
  content: "\e754";
}

.icon-A-copy:before {
  content: "\e749";
}

.icon-B-copy:before {
  content: "\e74a";
}

.icon-B:before {
  content: "\e601";
}

.icon-A:before {
  content: "\e602";
}

.icon-qiandaizi:before {
  content: "\e674";
}

.icon-qiehuan-:before {
  content: "\e622";
}

.icon-chexiao:before {
  content: "\e600";
}

.icon-ai250:before {
  content: "\e6ee";
}

.icon-jiaofeizhangdan_active:before {
  content: "\e66d";
}

.icon-basket-fill-copy:before {
  content: "\e74b";
}

.icon-basket-fill:before {
  content: "\e612";
}

.icon-moon_fill:before {
  content: "\e746";
}

.icon-maihuo:before {
  content: "\e6c9";
}

.icon-maihuo-copy:before {
  content: "\e74c";
}

